.container {
   max-width: 114rem;
   margin: 0 auto;
}
.container_fluid {
   max-width: 128rem;
   margin: 0 auto;
}
.py-1 {padding-block: 1rem;}
.px-1 {padding-inline: 1rem;}
.py-2 {padding-block: 2rem;}
.px-2 {padding-inline: 2rem;}
.d-flex {display: flex;}
.align-center {align-items: center;}
.jutify-center {justify-content: center;}
.justify-between {justify-content: space-between;}